<div>
  <%= form.label :name, "İsim" %>
  <%= form.text_field :name %>
</div>
<div>
  <%= form.label :email, "Eposta" %>
  <%= form.text_field :email %>
</div>
<div>
  <%= form.label :website, "Website" %>
  <%= form.text_field :website %>
</div>
<div>
  <%= form.label :comment, "Yorum" %>
  <%= form.text_area :comment %>
</div>