<%= page_title "#{t 'comment.comments'}: (#{@commentable.try(:title) || @commentable.try(:safe_title)})" %>

<div class="comment_status_select">
  <%= select_tag "comment_type", options_for_select([["#{t 'comment.all'} (#{@comments.size})", "all"], ["#{t 'comment.approved'} (#{@comments.accepted.size})", "accepted"], ["#{t 'comment.rejected'}(#{@comments.denied.size})", "denied"], ["#{t 'comment.pending'} (#{@comments.pending.size})", "pending"]]) %>
  <div style="display: none;" id="indicator">
    <%= image_tag "indicator.gif" %>
  </div>
</div>
<div id="comments_table">
  <%= render "table", :comments => @comments %>
</div>

<%= javascript_tag do %>
	$(document).ready(function() {
	  $('#comment_type').change(function() {
			 $.ajax({
              type: "post",
              url: '<%= j(url_for(controller: 'comment_admin', action: 'set_comment_table', id: @commentable.id, type: @commentable.class.name)) %>',
              data: 'comment_type=' + $(this).val(),
              complete: function(msg){
								$('#indicator').hide();
								$('#comments_table').show();
              },
              beforeSend: function( xhr ) { 
								$('#indicator').show();
								$('#comments_table').hide()
              }

		});
	});
	});
<% end %>
